body{
    background-color: #191d21;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0em !important;
}

.wrapper{
    width: 100%;
}

.header{
    width: 100%;
    padding: 2em 0;
    
}

.logo{
    width: 11em;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.nav{
    width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px, 0;
    background-color: #b36630;
    text-align: center;
    border-top: 1px solid #54390a;
    border-bottom: 1px solid #54390a ;
}

.content{
    width: 80em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}

/* .socials{
    width: 100%;
    text-align: center;
    background-color: #404040;;
    height: 10em;
}

.socialdivs{
   width: 1000px;
   margin-left: auto;
   margin-right: auto;

}

.fb{
    width: 250px;
    height: 155px;
    float: left;
}

.fb:hover{
    background-color: #4668b3;
} */

.footer{
    text-align: center;
    background-color: #404040;;
    padding: 0.1em 0;
    padding-bottom: 0.1em;
    height: 1em;
}

.sticky{
    width: 100%;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.select{
    width: 18.5em;
    display: inline-block;
    padding: 0.6em;
    border-right: 0.1em dashed #54390a;
}
 a{
     color: #ffffff;
     text-decoration: none;
    display: block;
}

.select:first-child{
    border-left:  none;
}


.select:last-child{
    border-right:  none;
}

.select:hover{
    background-color: #188f28;
    border-right: #188f28 ;
}
