body {
    background-color: #B7B7B7;
    color: #191d21;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}

.wrapper {
    width: 100%;
}

.header {
    background-color: #191d21;
    width: 100%;
}

.logo {
    padding: 0.2em;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav {
    width: auto;
    background-color: #b36630;
    text-align: center;
    border-top: 1px solid #54390a;
    border-bottom: 1px solid #54390a;
}

.content {
    margin-top: 0.8em;
    background-color: #ffffff;
    width: 90em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
    border-radius: 1em;
    border: groove;
}

.footer {
    margin-top: 0.8em;
    color: #B7B7B7;
    text-align: center;
    background-color: #404040;;
    padding: 0.2em;
    height: 1em;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.2em;
    display: inline-block;
}

ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 2em;
    text-decoration: none;
}

ul > li {
    float: left;
    margin-right: 4em;
    margin-left: 4em;
}

li a:hover {
    background-color: #191d21;
    border-radius: 2em;
}

.container {
    background-color: #ffffff;
    width: 20em;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 2em;
}

.login-input {
    width: 20em;
    background-color: #eeffee;
    color: #191d21;
    border: 0.3em solid #dddddd;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
    box-sizing: border-box;
    outline: none;
    margin-top: 0.5em;
}

.login-input:focus {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 5px rgba(204, 204, 204, 0.9);
    border: 0.5em solid #a5cda5;
    background-color: #e9f3f9;
    color: #428c42;
}

.login-output {
    color: #39a5f1;
}

.center-button {
    width: 100px;
    margin: 0 0;
    display: block;
}

.login-button[type=submit] {
    width: 6.5em;
    background-color: #b36630;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    padding: 0.6em 0.6em;
    margin-top: 1em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    outline: none;
}

.login-button[type=submit]:hover {
    background-color: #191d21;
}

.login-button[type=submit]:focus {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 30px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 5px rgba(204, 204, 204, 0.9);
    background-color: #36b03c;
}

.error-message-login {
    margin-top: 0.5em;
}

.domain-form-msg {
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.5em 0.2em;
    display: block;
    line-height: 1;
}

.domain-form-msg.danger-col {
    color: #b50031;
}