body {
    background-color: #B7B7B7;
    color: #191d21;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}

.wrapper {
    width: 100%;
}

.header {
    background-color: #191d21;
    width: 100%;
}

.logo {
    padding: 0.2em;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav {
    width: auto;
    background-color: #b36630;
    text-align: center;
    border-top: 1px solid #54390a;
    border-bottom: 1px solid #54390a;
}

.content {
    margin-top: 0.8em;
    background-color: #ffffff;
    width: 90em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
    border-radius: 1em;
    border: groove;
}

.footer {
    margin-top: 0.8em;
    color: #B7B7B7;
    text-align: center;
    background-color: #404040;;
    padding: 0.2em;
    height: 1em;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0.2em;
    display: inline-block;
}

ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 2em;
    text-decoration: none;
}

ul > li{
    float: left;
    margin-right: 4em;
    margin-left: 4em;
}

li a:hover{
    background-color: #191d21;
    border-radius: 2em;
}

/* .socials{
    width: 100%;
    text-align: center;
    background-color: #404040;;
    height: 10em;
}

.socialdivs{
   width: 1000px;
   margin-left: auto;
   margin-right: auto;

}

.fb{
    width: 250px;
    height: 155px;
    float: left;
}

.fb:hover{
    background-color: #4668b3;
} */
