body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    padding: 0 1em;
    margin: 0 auto;
}

.domain-wrapper{
    width:100%;
    max-width: 600px;
    padding: 0 1em;
    margin: 0 auto;
}

.site-content {
    padding: 2em 0;
}

.crm-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #d1d1d1;
    padding: 0;
    display: -webkit-box;
    display: flex;
}

.crm-header .main-menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.crm-header .main-menu > a {
    border-right: 1px solid #d1d1d1;
    text-decoration: none;
    color: #0b2533;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 140px;
    text-transform: uppercase;
    font-size: 0.8em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
}

.crm-header .main-menu > a i {
    font-size: 1.5em;
    margin-bottom: 0.6em;
    display: block;
    color: #32a852;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*.crm-header .main-menu > a:first-child {*/
/*    border-left: 1px solid #d1d1d1;*/
/*}*/

.crm-header .main-menu > a:hover {
    background-color: #f1f1f1;
}

.crm-header .main-menu > a:hover > i {
    color: #2a8543
}

.crm-header .main-menu > a:active {
    color: #2a8543;
    background-color: #cee0f1;
    border-bottom: 1px solid #d1d1d1;
}

.crm-header .main-menu > a:active > i {
    color: #2a8543
}

.crm-header .user-panel {
    border-left: 1px solid #d1d1d1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    width: 341px;
    margin-left: auto;
    color: #0b2533;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.crm-header .user-panel .user-avatar {
    height: 50px;
    width: 50px;
    margin: 0 0.75em;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    background: #32a852;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
    flex-shrink: 0;
}

.crm-header .user-panel .user-info {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 0.95em;
    padding-right: 1.5em;
}

.crm-header .user-panel .user-info h4 {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1180px) {
    .header .main-menu > a {
        width: 100px;
    }
}

@media (max-width: 1130px) {
    .header .logo {
        min-width: auto;
    }

    .header .logo .wol-logo {
        display: none;
    }
}

@media (max-width: 1000px) {
    .crm-header {
        height: 60px;
    }

    .crm-header .main-menu {
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #d1d1d1;
    }

    .crm-header .main-menu > a {
        padding: 1.5em 0;
        font-size: 0.75em;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        line-height: 1;
    }

    .crm-header .main-menu > a > i {
        line-height: 1;
        font-size: 1em;
        margin: 0;
        line-height: 1;
        margin-right: 0.5em;
    }
}

@media (max-width: 450px) {
    .crm-header .main-menu > a > i {
        display: none;
    }

    .crm-header .user-panel {
        width: 301px;
    }
}

@media (max-width: 400px) {
    .crm-header .logo {
        display: none;
    }

    .crm-header .user-panel {
        width: 100%;
        border-left: none;
    }
}

/**
Card
 */

.card {
    padding: 2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 1px 1px 5px 0px rgba(219, 219, 219, 0.55);
    margin-bottom: 2em;
}

.card .card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

@media (max-width: 1020px) {
    .card .card-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

.card .card-header > h2 {
    font-size: 2.5em;
    margin-bottom: 0;
}

.card .card-header > h3 {
    font-size: 2em;
    margin-bottom: 0;
}

.card .card-header.client {
    border-bottom: 2px solid #0b2533;
}

.card .card-header .client-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: end;
    align-items: end;
}

.card .card-header .client-info > h2, .card .card-header .client-info i {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-right: 0.5em;
}

.card .card-header .client-info > i {
    color: #5794cf;
}

.card .card-header .client-info > h4 {
    margin-bottom: 0;
}

.card .card-header > .controls {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
}

.card .card-header > .controls .btn {
    margin-left: 1em;
}

@media (max-width: 1020px) {
    .card .card-header > .controls {
        margin-top: 0.7em;
        flex-wrap: wrap;
    }

    .card .card-header > .controls .btn {
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 1em;
    }
}

.card .card-subheader {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

@media (max-width: 1020px) {
    .card .card-subheader {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

.card .card-subheader h3 {
    font-size: 2em;
    margin-bottom: 0;
    color: #5794cf;
}

.card .card-subheader h3 i {
    font-size: 0.9em;
    color: #0b2533;
}

.card .card-subheader .view-controls {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.card .card-subheader .view-controls > a:not(:last-child), .card .card-subheader .view-controls button:not(:last-child) {
    margin-right: 0.5em;
}

@media (max-width: 1020px) {
    .card .card-subheader .view-controls {
        margin-top: 0.7em;
        flex-wrap: wrap;
    }

    .card .card-subheader .view-controls > button {
        margin-bottom: 1em;
    }
}

/**
Login page
 */

.login-page-body {
    padding: 0;
    background: #e4f5e9;
}

.login-page {
    display: -webkit-box;
    display: flex;
    min-height: 100vh;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.login-page .form-login {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 3em;
    margin: auto;
}
.login-page .form-login .logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
}
.login-page .form-login > form {
    width: 400px;
}
.login-page .form-login > form .crm-logo {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #d1d1d1;
}
.login-page .form-login > form .crm-logo img {
    width: 100px;
}
.login-page .form-login > form .btn {
    font-size: 0.9em;
    margin-top: 0.6em;
}
.login-page .form-login .version-number {
    position: absolute;
    bottom: 1em;
    font-size: 0.75em;
    right: 1em;
    color: #7e7e7e;
}
@media (max-width: 800px) {
    .login-page .image {
        display: none;
    }

    .login-page .form-login {
        width: 100%;
        padding: 1.5em;
        padding-top: 100px;
    }

    .login-page .form-login > form {
        max-width: 100%;
        box-sizing: border-box;
    }
}

/**
NO RESULT BOX
 */

.no-results-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 2em;
    background: #f1f1f1;
    border: 1px solid #d1d1d1;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    color: #9e9e9e;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.no-results-box i {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/**
TABLE
 */
@media (max-width: 1020px) {
    div.table {
        overflow-x: auto;
    }
}

div.table > table, table.table {
    width: 100%;
    border-bottom: 2px solid #d1d1d1;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 0.9em;
    border-collapse: collapse;
    box-sizing: border-box;
}

div.table > table td, table.table td {
    border: 1px solid #d1d1d1;
    padding: 1em 0.75em;
}

div.table > table td h4, table.table td h4 {
    margin-bottom: 0;
}

div.table > table td h5, table.table td h5 {
    margin-bottom: 0;
}

div.table > table .left, table.table .left {
    text-align: left;
}

div.table > table .right, table.table .right {
    text-align: right;
}

div.table > table .small, table.table .small {
    font-size: 0.85em;
}

div.table > table .w5, table.table .w5 {
    width: 5%;
}

div.table > table .w10, table.table .w10 {
    width: 10%;
}

div.table > table .w15, table.table .w15 {
    width: 15%;
}

div.table > table .w20, table.table .w20 {
    width: 20%;
}

div.table > table .w25, table.table .w25 {
    width: 25%;
}

div.table > table .w30, table.table .w30 {
    width: 30%;
}

div.table > table .w35, table.table .w35 {
    width: 35%;
}

div.table > table .w40, table.table .w40 {
    width: 40%;
}

div.table > table .w45, table.table .w45 {
    width: 45%;
}

div.table > table .w50, table.table .w50 {
    width: 50%;
}

div.table > table .w55, table.table .w55 {
    width: 55%;
}

div.table > table .w60, table.table .w60 {
    width: 60%;
}

div.table > table .w65, table.table .w65 {
    width: 65%;
}

div.table > table .w70, table.table .w70 {
    width: 70%;
}

div.table > table .w75, table.table .w75 {
    width: 75%;
}

div.table > table .w80, table.table .w80 {
    width: 80%;
}

div.table > table .w85, table.table .w85 {
    width: 85%;
}

div.table > table .w90, table.table .w90 {
    width: 90%;
}

div.table > table .w95, table.table .w95 {
    width: 95%;
}

div.table > table .w100, table.table .w100 {
    width: 100%;
}

div.table > table tbody tr, table.table tbody tr {
    background: #f9f9f9;
}

div.table > table tbody tr:nth-child(even), table.table tbody tr:nth-child(even) {
    background: #fff;
}

div.table > table tbody tr.checked, table.table tbody tr.checked {
    background: rgba(87, 148, 207, 0.3) !important;
}

div.table > table tbody tr.checked td, table.table tbody tr.checked td {
    border-color: #5794cf;
}

div.table > table tbody tr.col-success, table.table tbody tr.col-success {
    background: rgba(82, 172, 77, 0.2) !important;
}

div.table > table tbody tr.col-success td, table.table tbody tr.col-success td {
    border-color: #52ac4d;
}

div.table > table tbody tr.col-danger, table.table tbody tr.col-danger {
    background: rgba(181, 0, 49, 0.1) !important;
}

div.table > table thead, table.table thead {
    background: #32a852;
    border-bottom: 2px solid #1a3823;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
}

div.table > table thead th, table.table thead th {
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.8em;
    text-transform: uppercase;
    height: 2em;
    border-right: 1px solid #1a3823;
    color: #ffffff;
}

div.table > table thead th:first-child, table.table thead th:first-child {
    border-top-left-radius: 0.3em;
}

div.table > table thead th:last-child, table.table thead th:last-child {
    border-top-right-radius: 0.3em;
    border-right: none;
}

div.table > table thead th .sort i, table.table thead th .sort i {
    padding: 0.2em 0.35em;
    background: #306ea9;
    border-radius: 0.3em;
    margin-left: 0.3em;
    color: #5794cf;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

div.table > table thead th .sort:hover i, table.table thead th .sort:hover i {
    background: #5794cf;
}

div.table > table thead th .sort.active i, table.table thead th .sort.active i {
    background: #0b2533;
    color: #52ac4d;
}

div.table > table thead tr, table.table thead tr {
    background: none;
}

div.table > table thead .table-action-panel, table.table thead .table-action-panel {
    padding: 1em 0.8em;
    text-align: left;
    font-size: 0.9em;
    border: 1px solid #0b2533;
    background: #0b2533;
}

div.table > table thead .table-action-panel td, table.table thead .table-action-panel td {
    border: none;
}

div.table > table thead .table-action-panel a, div.table > table thead .table-action-panel button, table.table thead .table-action-panel a, table.table thead .table-action-panel button {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    display: inline-block;
    color: #fff;
    margin-left: 0.8em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

div.table > table thead .table-action-panel a:hover, div.table > table thead .table-action-panel button:hover, table.table thead .table-action-panel a:hover, table.table thead .table-action-panel button:hover {
    color: #5794cf;
}

div.table > table thead .table-action-panel .records, table.table thead .table-action-panel .records {
    color: #fff;
    text-transform: uppercase;
}

/**
BUTTONS
 */
a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none !important;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1;
    padding: 1em 2em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 1.2em;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.btn > i {
    line-height: 1;
    font-size: 0.9em;
    margin: 0 0.3em;
}

.btn.disabled {
    pointer-events: none !important;
    background: #f1f1f1 !important;
    color: #585858 !important;
    opacity: 0.65;
    cursor: not-allowed;
    border-color: #d1d1d1 !important;
}

.btn.col-primary {
    border-color: #32a852;
    background: #1a3823;
    color: #fff;
}

.btn.col-primary:hover {
    background: #010405;
    border-color: #010405;
}

.btn.col-secondary {
    border-color: #5794cf;
    background: #5794cf;
    color: #fff;
}

.btn.col-secondary:hover {
    background: #3b82c7;
    border-color: #3b82c7;
}

.btn.col-success {
    border-color: #52ac4d;
    background: #52ac4d;
    color: #fff;
}

.btn.col-success:hover {
    background: #469342;
    border-color: #469342;
}

.btn.col-danger {
    border-color: #b50031;
    background: #b50031;
    color: #fff;
}

.btn.col-danger:hover {
    background: #910027;
    border-color: #910027;
}

.btn.col-info {
    border-color: #a7a189;
    background: #a7a189;
    color: #fff;
}

.btn.col-info:hover {
    background: #8b8468;
    border-color: #8b8468;
}

.btn.bordered {
    background: inherit;
}

.btn.bordered.col-primary {
    color: #0b2533;
}

.btn.bordered.col-primary > i {
    color: #32a852;
}

.btn.bordered.col-primary:hover {
    background: #f1f1f1;
}

.btn.bordered.col-secondary {
    color: #32a852;
}

.btn.bordered.col-secondary > i {
    color: #32a852;
}

.btn.bordered.col-secondary:hover {
    background: #f1f1f1;
}

.btn.bordered.col-success {
    color: #52ac4d;
}

.btn.bordered.col-success:hover {
    background: #72be6e;
}

.btn.bordered.col-danger {
    color: #b50031;
}

.btn.bordered.col-danger:hover {
    background: #f1f1f1;
}

.btn.bordered.col-info {
    color: #a7a189;
}

.btn.bordered.col-info:hover {
    background: #bdb8a6;
}

.btn.btn-icon {
    padding: 0.5em 0.3em;
}

.btn.btn-icon > i {
    font-size: 1.5em;
}

.btn.btn-sm {
    font-size: 0.65em;
}

.btn-text {
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-text > i {
    margin: 0 0.3em;
}

.btn-text.col-primary {
    color: #0b2533;
}

.btn-text.col-primary > i {
    color: #32a852;
}

.btn-text.col-primary:hover {
    color: #020709;
}

.btn-text.col-secondary {
    color: #5794cf;
}

.btn-text.col-secondary > i {
    color: #5794cf;
}

.btn-text.col-secondary:hover {
    color: #367bbd;
}

.btn-text.col-success {
    color: #52ac4d;
}

.btn-text.col-success:hover {
    color: #41893d;
}

.btn-text.col-danger {
    color: #b50031;
}

.btn-text.col-danger:hover {
    color: #820023;
}

.btn-text.col-info {
    color: #a7a189;
}

.btn-text.col-info:hover {
    color: #918a6c;
}

/**
FORM
 */

input[type=text], input[type=number], input[type=time], input[type=password], input[type=email], select, .ms-choice {
    border: 1px solid #d1d1d1;
    border-radius: 0.6em;
    line-height: 2.5em;
    padding: 0 1em;
    font-size: 0.95em;
    width: 100%;
    outline: none !important;
    display: inline-block;
    box-sizing: border-box;
    background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#fff));
    background: linear-gradient(to top, #f1f1f1, #fff);
}

input[type=text].form-error, input[type=text].error, input[type=number].form-error, input[type=number].error, input[type=time].form-error, input[type=time].error, input[type=password].form-error, input[type=password].error, input[type=email].form-error, input[type=email].error, select.form-error, select.error, .ms-choice.form-error, .ms-choice.error {
    border-color: #b50031;
    color: #b50031;
}

input[type=text].disabled, input[type=text]:disabled, input[type=number].disabled, input[type=number]:disabled, input[type=time].disabled, input[type=time]:disabled, input[type=password].disabled, input[type=password]:disabled, input[type=email].disabled, input[type=email]:disabled, select.disabled, select:disabled, .ms-choice.disabled, .ms-choice:disabled {
    background: #d1d1d1;
    opacity: 0.7;
}

textarea, textarea.ckeditor {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    border-radius: 0.9em;
    resize: none;
    border: 1px solid #d1d1d1;
    padding: 8px;
    background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#fff));
    background: linear-gradient(to top, #f1f1f1, #fff);
}

textarea:focus, textarea.ckeditor:focus {
    background: #fff;
}

.form-error input[type=text], .form-error input[type=password], .form-error input[type=email], .form-error input[type=number], .form-error textarea, .form-error select {
    border-color: #b50031;
    color: #b50031;
}

select {
    height: 2.5em;
}

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}

input:focus, select:focus, textarea:focus {
    border-color: #5794cf;
    background: #fff;
}

.form-top, .form-submit {
    margin-bottom: 1.1em;
}

.icon-left, .icon-right {
    position: relative;
}

.icon-left > i, .icon-right > i {
    position: absolute;
    font-size: 1em;
    top: 0.9em;
    color: #d1d1d1;
}

.icon-left input:focus + i, .icon-right input:focus + i {
    color: #5794cf;
}

.icon-left > input {
    padding-left: 2.5em;
}

.icon-left > i {
    left: 1em;
}

.icon-right > input {
    padding-right: 3em;
}

.icon-right > i {
    right: 1em;
}

.form-phone {
    position: relative;
}

.form-phone > input {
    padding-left: 4.5em;
}

.form-phone .country-label {
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 0.75em;
    left: 1em;
    font-size: 0.95em;
    opacity: 0.8;
}

.form-phone .country-label > img {
    width: 18px;
    height: 18px;
    margin-right: 0.3em;
}

.form-submit {
    text-align: right;
}

.form-submit .btn {
    margin-left: 10px;
}

.form-checkbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.2;
    min-height: 55px;
}

.form-checkbox input {
    margin-right: 0.8em;
}

.form-checkbox i {
    margin-right: 0.8em;
    color: #5794cf;
}

.form-checkbox label:last-child {
    font-size: 0.95em;
    line-height: 1;
}

.form-file > input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form-file > label:not(:last-child) {
    margin-bottom: 10px;
}

.form-top > label:first-child, .label-top {
    font-size: 0.8em;
    font-weight: bold;
    color: #585858;
    padding-left: 3px;
    display: block;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 0.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-top > label:first-child .req, .label-top .req {
    color: #b50031;
}

.form-top > label:first-child.col-secondary, .label-top.col-secondary {
    color: #5794cf;
}

.label-top-placehold {
    padding-top: 1em;
}

.form-double-input {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-double-input label {
    width: 100%;
}

.form-double-input > input[type=text], .form-double-input input[type=password], .form-double-input input[type=number], .form-double-input input[type=email], .form-double-input select, .form-double-input .ms-parent {
    width: 48.5%;
}

.form-double-input .spacer {
    width: 3%;
    text-align: center;
    line-height: 1;
}

.captcha {
    margin-bottom: 1em;
}

/**
MODAL
 */

.modal > div {
    position: relative;
    max-width: 100%;
    padding: 10px;
}

.modal > div > div {
    padding: 1.5em;
    border-radius: 10px;
}

.modal-wide > div {
    width: 1200px;
    margin: 30px auto;
}

.modal-main > div {
    width: 950px;
    margin: 30px auto;
}

.modal-small > div {
    width: 650px;
    margin: 30px auto;
}

.modal-warning > div {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.modal-warning > div i.modal-icon {
    font-size: 2.5em;
    color: #b50031;
    margin: 0.4em 0;
}

.modal-warning > div .modal-footer {
    display: -webkit-box;
    display: flex;
    margin-top: 2em;
}

.modal-warning > div .modal-footer .btn {
    width: 100%;
    margin: 0 10px;
}

.modal-warning > div .modal-footer .btn > i {
    float: left;
}

.modal-warning > div .modal-footer .btn:first-child {
    margin-left: 0;
}

.modal-warning > div .modal-footer .btn:last-child {
    margin-right: 0;
}

.modal-footer {
    border-top: 1px solid #d1d1d1;
    padding-top: 15px;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.modal-footer a, .modal-footer button, .modal-footer .disabled, .modal-footer .btn {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

.modal-close {
    position: absolute;
    top: 1.3em;
    right: 1.3em;
    font-size: 1.2em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0.4;
    cursor: pointer;
}

.modal-close:hover {
    color: #5794cf;
    opacity: 1;
}

.modal-backdrop {
    background-color: black;
}

.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

body {
    padding-top: 100px;
}

@media (max-width: 1000px) {
    body {
        padding-top: 130px;
    }
}

.form-msg {
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.5em 0.2em;
    display: block;
    line-height: 1;
}

.form-msg.col-danger {
    color: #b50031;
}

.form-msg.col-success {
    color: #52ac4d;
}

.infobox {
    padding: 0.8em;
    background: #fff;
    border: 1px solid #0b2533;
    color: #0b2533;
    margin-bottom: 1em;
    border-radius: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.infobox > i {
    font-size: 1.3em;
    margin-right: 0.5em;
}

.infobox > span {
    margin-right: 0.5em;
}

.infobox .btn {
    margin-left: auto;
}

.infobox.col-danger {
    background: #b50031;
    color: #fff;
    border-color: #b50031;
}

.infobox.col-danger .btn {
    color: #fff;
}

.infobox.col-danger.bordered {
    background: inherit;
    color: #b50031;
}

.infobox.col-danger.bordered .btn {
    color: #b50031;
}

.infobox.col-success {
    background: #52ac4d;
    color: #fff;
    border-color: #52ac4d;
}

.infobox.col-success .btn {
    color: #fff;
}

.infobox.col-success.bordered {
    background: inherit;
    color: #52ac4d;
}

.infobox.col-success.bordered .btn {
    color: #52ac4d;
}

.infobox.col-info {
    background: #e8e7e1;
    color: #0b2533;
    border-color: #e8e7e1;
}

.infobox.col-info .btn {
    color: #0b2533;
}

.infobox.col-info.bordered {
    background: inherit;
    border-color: #a7a189;
    color: #484436;
}

.infobox.col-info.bordered .btn {
    color: #484436;
}

.infobox ul {
    padding: 0;
    color: inherit;
}

.infobox ul li {
    list-style-type: none;
    padding: 0;
}

.infobox ul:last-child {
    margin-bottom: 0;
}

.infobox.center {
    -webkit-box-pack: center;
    justify-content: center;
}

.infobox.infobox-small {
    font-size: 0.85em;
}

.client-card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1;
}

.client-card-header > i {
    font-size: 3em;
    margin-right: 0.3em;
    color: #5794cf;
}

.client-card-header h1 {
    margin: 0;
    line-height: 1;
}

.client-card-header span {
    margin-left: 0.7em;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 0.9em;
    opacity: 0.6;
}

#client-name-header {
    border-color: #0b2533;
}

.client-card .data-panel {
    margin-bottom: 1.5em;
}

.client-card .data-panel .head {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid #d1d1d1;
}

.client-card .data-panel .head h3 {
    margin-bottom: 0;
    margin-right: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
}

.client-card .data-panel .head .btn {
    font-size: 0.6em;
    margin-left: auto;
}

.client-card .data-panel li .btn-sm {
    font-size: 0.6em;
    margin-left: auto;
}

.client-card-basic-data {
    padding-top: 2em;
}


.container, .container-resp {
    border-color: #918a6c;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-left: -1%;
    margin-right: -1%;
}

.container.align-center, .container-resp.align-center {
    -webkit-box-align: center;
    align-items: center;
}

.col1, .col1-2, .col1-3, .col1-4, .col2-3, .col3-4, .col1-5, .col2-5, .col3-5, .col4-5, .col1-6, .col5-6, .col1-12, .col5-12, .col7-12, .col11-12 {
    box-sizing: border-box;
    margin-right: 1%;
    margin-left: 1%;
}

.col1 {
    width: 98%;
}

.col1-2 {
    width: 48%;
}

.col1-3 {
    width: 31.333%;
}

.col1-4 {
    width: 23%;
}

.col1-5 {
    width: 18%;
}

.col1-6 {
    width: 14.666%;
}

.col2-3 {
    width: 64.666%;
}

.col3-4 {
    width: 73%;
}

.col2-5 {
    width: 38%;
}

.col3-5 {
    width: 58%;
}

.col4-5 {
    width: 78%;
}

.col5-6 {
    width: 81.333%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background: #52ac4d;
    opacity: 0.9;
    display: none;
}

.loader > div {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.sk-folding-cube {
    margin: 30px auto;
    width: 60px;
    height: 60px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.calendar-page .card-subheader {
    -webkit-box-align: center;
    align-items: center;
}

.calendar-navigator {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.5em;
}

.calendar-navigator > div {
    margin: 0 1em;
    font-weight: bold;
}

.calendar-navigator a {
    color: #32a852;
}

.calendar-view .calendar-header {
    font-size: 1.1em;
}

.calendar-view .calendar-sub-header {
    font-size: 1.1em;
    background-color: #5794cf;
    border-top: 1px solid #1a3823;
}

.calendar-view .calendar-sub-header-first-col {
    font-size: 1.1em;
    background-color: #32a852;
    border-top: 1px solid #1a3823;
}

.calendar-view .calendar-sub-header-last-col {
    color: black;
    font-size: 1.1em;
    background-color: #ebcc34;
    border-top: 1px solid #1a3823;
}

.calendar-view .calendar-row {
    border-top: 1px solid #1a3823;
    border-right: 1px solid #1a3823;
}

.calendar-view .calendar-row-label {
    background: #32a852;
    color: #fff;
    border-bottom: 1px solid #1a3823;
    border-right: 1px solid #1a3823;
    width: 80px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.calendar-cell-content {
    justify-content: center;
}

@media (max-width: 580px) {
    .calendar-view .calendar-row-label {
        font-size: 0.75em;
        width: 30px;
    }
}

.calendar-view .calendar-cell {
    padding: 0;
    border-top: 0;
    vertical-align: top;
}

.calendar-view .calendar-cell-content {
    display: -webkit-box;
    display: flex;
    min-height: 50px;
    flex-wrap: wrap;
}

.calendar-event {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 0.6em;
    box-shadow: 1px 1px 2px 0px #0000001c;
    overflow: hidden;
    margin: 0.5em;
    border: 1px solid #d1d1d1;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    width: 140px;
    position: relative;
}

.calendar-event .client {
    padding: 0.8em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-event .client.text-muted {
    opacity: 0.3;
    background: #d1d1d1;
}

.calendar-event .contact-type {
    padding: 0 0.8em;
    margin-bottom: 0.2em;
    text-transform: none;
}

.calendar-event .contact-type > i {
    position: absolute;
    margin: 0;
    font-size: 2em;
    top: 2em;
    color: #d1d1d1;
    right: 0.5em;
    opacity: 0.5;
    pointer-events: none;
}

.calendar-event .dealer-info, .calendar-event .owner-info {
    font-size: 0.8em;
    padding: 0 0.85em;
    font-weight: bold;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    color: #585858;
    z-index: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.calendar-event .contact-status {
    padding: 0;
    background: none;
}

.calendar-event .contact-status .status-name {
    display: none;
}

.calendar-event .contact-status .status-bar {
    height: 3px;
    background: #5794cf;
    margin-bottom: 0.6em;
}

.calendar-event .contact-status.processing .status-bar {
    background: #5794cf;
}

.calendar-event .contact-status.overdue .status-bar, .calendar-event .contact-status.error .status-bar {
    background: #b50031;
}

.calendar-event .contact-status.done .status-bar, .calendar-event .contact-status.success .status-bar {
    background: #52ac4d;
}

.calendar-event .model {
    padding: 0 0.8em;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.calendar-event .details-btn {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0.5em 0.8em;
    font-size: 0.9em;
    font-weight: bold;
    color: #ababab;
    background: #f1f1f1;
    text-transform: uppercase;
}

.calendar-event .details-btn i {
    margin-left: 0.3em;
}

.calendar-event:hover {
    border-color: #5794cf;
}

.calendar-event:hover .details-btn {
    background: #5794cf;
    color: #fff;
}

.calendar-view.calendar-view-week .calendar-cell {
    width: 14%;
}

.calendar-view.calendar-view-week .calendar-cell .calendar-cell-content {
    -webkit-box-pack: center;
    justify-content: center;
}

.calendar-view.calendar-view-month .calendar-cell {
    width: 100px;
}

.calendar-view.calendar-view-month .calendar-cell .month-day {
    width: 100%;
    text-align: right;
    padding: 0.5em 0.7em 0.2em 0.5em;
    font-weight: bold;
    font-size: 1.3em;
}

.calendar-view.calendar-view-month .calendar-cell.other-month {
    background: #e9e9e9;
}

.calendar-view.calendar-view-month .calendar-cell.other-month .month-day {
    opacity: 0.6;
}

.calendar-view.calendar-view-month .calendar-cell .calendar-cell-content {
    -webkit-box-pack: center;
    justify-content: center;
}

.calendar-list .contact-status {
    width: 12em;
}