body {
    font-family: 'Lato', sans-serif;
}

.crm-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #d1d1d1;
    padding: 0;
    display: -webkit-box;
    display: flex;
}

.crm-header .main-menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.crm-header .main-menu > a {
    border-right: 1px solid #d1d1d1;
    text-decoration: none;
    color: #0b2533;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 140px;
    text-transform: uppercase;
    font-size: 0.8em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
}

.crm-header .main-menu > a i {
    font-size: 1.5em;
    margin-bottom: 0.6em;
    display: block;
    color: #32a852;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*.crm-header .main-menu > a:first-child {*/
/*    border-left: 1px solid #d1d1d1;*/
/*}*/

.crm-header .main-menu > a:hover {
    background-color: #f1f1f1;
}

.crm-header .main-menu > a:hover > i {
    color: #2a8543
}

.crm-header .main-menu > a:active {
    color: #2a8543;
    background-color: #cee0f1;
    border-bottom: 1px solid #d1d1d1;
}

.crm-header .main-menu > a:active > i {
    color: #2a8543
}

.crm-header .user-panel {
    border-left: 1px solid #d1d1d1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    width: 341px;
    margin-left: auto;
    color: #0b2533;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.crm-header .user-panel .user-avatar {
    height: 50px;
    width: 50px;
    margin: 0 0.75em;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    background: #32a852;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
    flex-shrink: 0;
}

.crm-header .user-panel .user-info {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 0.95em;
    padding-right: 1.5em;
}

.crm-header .user-panel .user-info h4 {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1180px) {
    .header .main-menu > a {
        width: 100px;
    }
}

@media (max-width: 1130px) {
    .header .logo {
        min-width: auto;
    }

    .header .logo .wol-logo {
        display: none;
    }
}

@media (max-width: 1000px) {
    .crm-header {
        height: 60px;
    }

    .crm-header .main-menu {
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #d1d1d1;
    }

    .crm-header .main-menu > a {
        padding: 1.5em 0;
        font-size: 0.75em;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        line-height: 1;
    }

    .crm-header .main-menu > a > i {
        line-height: 1;
        font-size: 1em;
        margin: 0;
        line-height: 1;
        margin-right: 0.5em;
    }
}

@media (max-width: 450px) {
    .crm-header .main-menu > a > i {
        display: none;
    }

    .crm-header .user-panel {
        width: 301px;
    }
}

@media (max-width: 400px) {
    .crm-header .logo {
        display: none;
    }

    .crm-header .user-panel {
        width: 100%;
        border-left: none;
    }
}